mixin group(data)
  div(class="group group-collapse")
    each node in data.nodes
      if(data.nodes.indexOf(node) == 0 && data.nodes.length > 1)
        div(class="group-row")
          div(class="source source-row")
              div(class="item")
                div(class="item-info")
                  p(class="item-name")= data.name
                if(data.metadata.length > 0)
                  div(class="item-metadata")
                    each metadata in data.metadata
                      dl
                        dt= metadata.label
                        dd= metadata.value
                if(data.template)
                  div(class="item-type item-type-" + data.template.type)
                    span(class="item-type__name")= data.template.label
          div(class="target-connections")
      div(class="group-row")
        div(class="source source-connections-" + node.connections.length)
          if(data.nodes.indexOf(node) == 0 && data.nodes.length == 1)
            div(class="item")
              div(class="item-info")
                p(class="item-name")= data.name
              if(data.metadata && data.metadata.length > 0)
                div(class="item-metadata")
                  each metadata in data.metadata
                    dl
                      dt= metadata.label
                      dd= metadata.value
              if(data.template)
                div(class="item-type item-type-" + data.template.type)
                  span(class="item-type__name")= data.template.label
          div(class="item-connection")
            figure(class="hub")
            div(class="connection-data")
              p(class="connection-type connection-type-" + node.relationship.type)
                span= node.relationship.label
              if(node.relationship.metadata && node.relationship.metadata.length > 0)
                div(class="item-metadata")
                  each metadata in node.relationship.metadata
                    dl
                      dt= metadata.label
                      dd= metadata.value
        - var targetConnectionsClass = "target-connections"
        if(data.nodes.length > 1)
          - targetConnectionsClass += " target-connections-multiple"
        div(class=targetConnectionsClass)
          - var connectionTypes = 0;
          - var previousConnection = '';
          each connection in node.connections
            if (previousConnection != connection.relationship.label)
              - connectionTypes += 1;
            - previousConnection = connection.relationship.label

          - previousConnection = '';
          - var currentType = 0;
          each connection in node.connections
            if(Object.keys(connection.relationship).length > 0)
              if (previousConnection != connection.relationship.label)
                - currentType += 1;
              - var isLastOfType = currentType == connectionTypes ? 'last-of-type' : '';
            div(class="connection " + isLastOfType)
              if(Object.keys(connection.relationship).length > 0)
                - var asPrevious = previousConnection == connection.relationship.label ? 'as-previous' : '';
                div(class="connection-data " + asPrevious)
                  p(class="connection-type connection-type-" + connection.relationship.type)
                    span= connection.relationship.label
                  if(connection.relationship.metadata && connection.relationship.metadata.length > 0)
                    div(class="item-metadata")
                      each metadata in connection.relationship.metadata
                        dl
                          dt= metadata.label
                          dd= metadata.value
                - previousConnection = connection.relationship.label
              div(class="item " + (!Object.keys(connection.relationship).length ? 'no-connection' : ''))
                div(class="item-info")
                  p(class="item-name")= connection.name
                if(connection.metadata && connection.metadata.length > 0)
                  div(class="item-metadata")
                    each metadata in connection.metadata
                      dl
                        dt= metadata.label
                        dd= metadata.value
                if(connection.template)
                  div(class="item-type item-type-" + connection.template.type)
                    span(class="item-type__name")= connection.template.label
